name: MySpeed
version: '1.0.9'
slug: myspeed
startup: services
description: A speed test analysis software that shows your internet speed for up to 30 days
url: https://hub.docker.com/r/germannewsmaker/myspeed
image: germannewsmaker/myspeed
panel_icon: mdi:speedometer
arch:
- armv7
- amd64
backup_exclude:
- node_modules
host_network: true
init: false
map:
- path: /myspeed/data
  read_only: false
  type: addon_config
ports:
  5216/tcp: 5216
ports_description:
  5216/tcp: MySpeed
webui: http://[HOST]:[PORT:5216]
