arch:
- armv7
- amd64
backup_exclude:
- node_modules
description: A speed test analysis software that shows your internet speed for up to 30 days
host_network: true
image: germannewsmaker/myspeed
init: false
map:
- path: /myspeed/data
  read_only: false
  type: addon_config
name: MySpeed
ports:
  5216/tcp: 5216
ports_description:
  5216/tcp: MySpeed
slug: myspeed
url: https://hub.docker.com/r/germannewsmaker/myspeed
version: '1.0.9'
ingress: true
ingress_port: 5216
ingress_entry: /admin/
panel_icon: mdi:speedometer
hassio_api: true
homeassistant_api: true
ingress_stream: true
