name: n8n
version: "1.115.3"
slug: n8n
description: Plataforma de automação de fluxo de trabalho de código aberto (n8n).
url: https://hub.docker.com/r/n8nio/n8n
image: n8nio/n8n
arch:
  - aarch64
  - amd64
  - armv7
  - i386
startup: services
init: false
ingress: true
panel_icon: mdi:automation

ports:
  5678/tcp: 5678

ports_description:
  5678/tcp: Interface Web do n8n

map:
  - homeassistant_config:rw

options:
  TZ: America/Sao_Paulo
  N8N_BASIC_AUTH_ACTIVE: true
  N8N_BASIC_AUTH_USER: admin
  N8N_BASIC_AUTH_PASSWORD: senha-forte
  N8N_ENCRYPTION_KEY: chave-aleatoria-grande
  EXECUTIONS_DATA_SAVE_ON_PROGRESS: "true"
  EXECUTIONS_DATA_SAVE_ON_SUCCESS: "true"
  N8N_LOG_LEVEL: info

schema:
  TZ: str
  N8N_BASIC_AUTH_ACTIVE: bool
  N8N_BASIC_AUTH_USER: str
  N8N_BASIC_AUTH_PASSWORD: str
  N8N_ENCRYPTION_KEY: str
  EXECUTIONS_DATA_SAVE_ON_PROGRESS: str?
  EXECUTIONS_DATA_SAVE_ON_SUCCESS: str?
  N8N_LOG_LEVEL: str?

environment:
  GENERIC_TIMEZONE: $TZ
  N8N_BASIC_AUTH_ACTIVE: $N8N_BASIC_AUTH_ACTIVE
  N8N_BASIC_AUTH_USER: $N8N_BASIC_AUTH_USER
  N8N_BASIC_AUTH_PASSWORD: $N8N_BASIC_AUTH_PASSWORD
  N8N_ENCRYPTION_KEY: $N8N_ENCRYPTION_KEY
  EXECUTIONS_DATA_SAVE_ON_PROGRESS: $EXECUTIONS_DATA_SAVE_ON_PROGRESS
  EXECUTIONS_DATA_SAVE_ON_SUCCESS: $EXECUTIONS_DATA_SAVE_ON_SUCCESS
  N8N_LOG_LEVEL: $N8N_LOG_LEVEL
  N8N_USER_FOLDER: /config/n8n
