arch:
  - armv7
  - amd64
  - aarch64
backup_exclude:
  - node_modules
description: Scrypted - A high-performance home automation hub.
host_network: true
image: ghcr.io/koush/scrypted
init: false
map:
  config: true
  media: true
  ssl: false
  backup: false
  share: false
  addons: false
options:
  nvr_path: /nvr
  config_path: /config/scrypted
  dbus_socket: /var/run/dbus
  avahi_socket: /var/run/avahi-daemon/socket
name: Scrypted
ports:
  10444/tcp: 10444
ports_description:
  10444/tcp: Scrypted Webhook
slug: scrypted
url: https://github.com/koush/scrypted
version: '2024-11-26'
webui: http://[HOST]:[PORT:10444]
