arch:
  - armv7
  - amd64
  - aarch64
backup_exclude:
  - node_modules
description: Scrypted - A high-performance home automation hub.
host_network: true
image: ghcr.io/koush/scrypted
init: false
map:
  - path: /config/scrypted
    type: addon_config
  - path: /nvr
    type: media
  - path: /var/run/dbus
    type: host
  - path: /var/run/avahi-daemon/socket
    type: host
name: Scrypted
ports:
  10444/tcp: 10444
ports_description:
  10444/tcp: Scrypted Webhook
slug: scrypted
url: https://github.com/koush/scrypted
version: '2024-11-26'
webui: http://[HOST]:[PORT:10444]
