name: Homebridge
version: '2025-08-20'
slug: homebridge
description: Homebridge - HomeKit support for the impatient
url: https://hub.docker.com/r/homebridge/homebridge
image: homebridge/homebridge
arch:
  - armv7
  - amd64
  - aarch64
ingress: true
ingress_port: 8581
panel_icon: mdi:memory
ingress_entry: /
init: false
map:
  - path: /homebridge
    read_only: false
    type: addon_config