name: Homebridge
version: '2025-11-27'
slug: homebridge
description: Homebridge - HomeKit support for the impatient
url: https://hub.docker.com/r/homebridge/homebridge
image: homebridge/homebridge
arch:
- amd64
- aarch64
backup_exclude:
- node_modules
host_network: true
init: false
map:
- path: /homebridge
  read_only: false
  type: addon_config
ports:
  8581/tcp: 8581
ports_description:
  8581/tcp: Homebridge UI
webui: http://[HOST]:[PORT:8581]
